*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(project/sunset-1373171_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.top{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.top h2{
    color: white;
    text-transform: capitalize;
}

.top  ul{
    list-style: none;
}

.top ul li {
    display: inline-block;

}


.top ul li a{
    padding: 0px 15px ;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header-content{
    margin-top: 20%;
    margin-left: 10%;
}

.header-content h2{
    font-size: 30px;
    color:white;
    text-transform: capitalize;
}

.header-content p {
    margin: 40px  0;
    color: white;
    text-transform: capitalize;
    line-height: 25px;
}


